<div class="container-fluid">
    <h3>Bikash Chhantyal</h3>
    <form action="" class="">
        <label for="name" class="form-label">Name: 
            <input type="text" class="form-control" id="name">
        </label>
        <label for="email" class="form-label">
            Email: <input type="text" class="form-control" id="email">
        </label>
        <button class="btn bg-info">SUBMIT</button>
    </form>
    <div>
        output:
    </div>
</div>