<div class="container-fluid">
    <h3>Bikash Chhantyal</h3>
    <form action="">
        <input type="text" class="form-control">
        <input type="text" class="form-control">
        <button>SUBMIT</button>
    </form>
    <div>
        output:
    </div>
</div>