<div class="container-fluid">
    <h3>Bikash Chhantyal</h3>
    @section Introduction
    {
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut autem delectus, eum expedita ipsam molestiae omnis quaerat sed unde ut velit voluptatibus! Consequuntur quae quos ratione rem sint veritatis!
        </p>
    }
    <form action="" class="">
        <label for="name" class="form-label">Name: 
            <input type="text" class="form-control" id="name">
        </label>
        <label for="email" class="form-label">
            Email: <input type="text" class="form-control" id="email">
        </label>
        <button class="btn bg-info">SUBMIT</button>
    </form>
    <div>
        output:
    </div>
    
</div>